@model ProyectoTerminal.Models.Nota

@{
    ViewBag.Title = "Detalles de la nota";
}

<h2>Detalles de la nota</h2>

<div>
    <h4>Nota</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Texto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Texto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fecha)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Regresar a la lista", "Index", new { pId = Model.ProyectoId })
</p>
