@model IEnumerable<ProyectoTerminal.Models.Proyecto>

@{
    ViewBag.Title = "Listado de Proyectos";
}

<h2>Listado de proyectos</h2>

<p>
    @Html.ActionLink("Crear nuevo proyecto", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Activo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Notas)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Requerimientos)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Documentos)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Metas)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tareas)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Repositorios)
        </th>
        <th>
            Acciones
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Activo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Descripcion)
        </td>
        <td>
            @Html.ActionLink("Lista", "Index", "Nota", new {pid = item.Id}, null)
            @Html.ActionLink("Nueva", "Create", "Nota", new {pid = item.Id}, null)
        </td>
        <td> <!-- requerimientos -->
            @Html.ActionLink("Lista", "Index", "Nota", new { pid = item.Id }, null)
            @Html.ActionLink("Nueva", "Create", "Nota", new { pid = item.Id }, null)
        </td>
        <td>
            <!-- documentos -->
            @Html.ActionLink("Lista", "Index", "Nota", new {pid = item.Id}, null)
            @Html.ActionLink("Nueva", "Create", "Nota", new {pid = item.Id}, null)
        </td>
        <td>
            <!-- metas -->
            @Html.ActionLink("Lista", "Index", "Nota", new {pid = item.Id}, null)
            @Html.ActionLink("Nueva", "Create", "Nota", new {pid = item.Id}, null)
        </td>
        <td>
            <!-- tareas -->
            @Html.ActionLink("Lista", "Index", "Nota", new {pid = item.Id}, null)
            @Html.ActionLink("Nueva", "Create", "Nota", new {pid = item.Id}, null)
        </td>
        <td>
            <!-- repositorios -->
            @Html.ActionLink("Lista", "Index", "Nota", new { pid = item.Id }, null)
            @Html.ActionLink("Nueva", "Create", "Nota", new { pid = item.Id }, null)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Detalles", "Details", new { id=item.Id }) |
            @Html.ActionLink("Borrar", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
